*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,4fr);
    margin: 0px;
    max-width: 1000px;
    min-height: 100px;
}
.left{
    position: initial;
    padding: 20px;
    background-color:rgb(255, 255, 255);
}
.right{
    position:initial;
    padding: 20px;
    background-color: #f4f4f4;
}
.image, .contact, .kill, .Language, .sports, .title, 
.summary, .award, .education, .project {
    margin-bottom: 30px;
}